django/.idea/
django/Scripts/
django/tcl/
django/Lib/
django/include/
django/pip-selfcheck.json
django/venv
django/pyvenv.cfg
.idea
README.md
django/src/_Item/migrations
django/src/_Plan/migrations
django/src/_User/migrations
django/src/Tour/__pycache__
django/src/_Item/__pycache__
django/src/_Plan/__pycache__
django/src/_User/__pycache__
db.sqlite3